<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<a class="p-2 text-dark" href="/departments/add">Добавить</a>
<div class="container mt-5">
    <h1>Блог сайта</h1>
    <table class="table mt-5 text-center">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="department : ${departments}">
            <tr>
                <td><h4 th:text="${department.departmentName}"/></td>
                <td><a th:href="'/departments/' + ${department.department_id} + '/edit'" class="btn btn-warning">Редактровать</a></td>
                <td><form th:action="'/departments/' + ${department.department_id} + '/delete'" method="post">
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form> </td>
            </tr>
        </div>
        <tbody>
    </table>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>